@import "~bootstrap/scss/bootstrap.scss";

/*  You can write your own styles here...  
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    import 'relative/path/to/stylesheet.scss';         */

.parent > .child {
        visibility: hidden;
      }
.parent:hover > .child {
        visibility: visible;
}
input {
    color: -internal-light-dark-color(black, grey);
    background-color: -internal-light-dark-color(grey, black);
    font: 400 18px Arial;
    border-width: 0px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}